body{
  background-color: rgb(246, 159, 246);
}


input{
  padding: 10px;
  border-radius: 5px;
  height: 30px;
  width: 150px;
  

}
button{
  color: rgb(255, 255, 255);
  background-color: rgb(114, 41, 183);
  height: 40px;
}
.main{
  padding: 10px;

}